<!DOCTYPE html>
<head>
<style>
[% css %]
</style>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
  [% species = fields.taxonomic_designation %]
  [% species_format = {
    'K. pneumoniae' => '<em>Klebsiella pneumoniae</em>',
 	'K. quasipneumoniae subsp. quasipneumoniae' => 
 	   '<em>Klebsiella quasipneumoniae</em> subsp. <em>quasipneumoniae</em>',
	'K. variicola subsp. variicola' => '<em>Klebsiella variicola</em> subsp. <em>variicola</em>',
	'K. quasipneumoniae subsp. similipneumoniae' => 
	   '<em>Klebsiella quasipneumoniae</em> subsp. <em>similipneumoniae</em>',
	'K. variicola subsp. tropica' => '<em>Klebsiella variicola</em> subsp. <em>tropica</em>',
	'K. quasivariicola' => '<em>Klebsiella quasivariicola</em>',
	'K. africana' => '<em>Klebsiella africana</em>'
  } %]


<section class="report-header clinical">
  <h1>CLINICAL GENOME REPORT</h1>
  <div class="info-grid">
    <div>
      <dl>
      	<dt>Genome identifier</dt><dd>id-[% fields.id %]</dd>
      	<dt>Isolate/laboratory identifier</dt><dd>[% fields.isolate %]</dd>
      	<dt>Year of isolation</dt><dd>[% fields.isolation_year %]</dd>
      	<dt>Location</dt><dd>[% fields.city %], [% fields.country %]</dd>
      </dl>
    </div>
    <div>
      <dl>
      <dt>Source type</dt><dd>[% fields.host %]</dd>     
      <dt>Host tissue sampled</dt><dd>[% fields.source_details %]</dd>
      [% IF fields.accession_number.length > 0 %]
      	<dt>Accession number</dt><dd>[% fields.accession_number %]</dd>
      [% END %]
      
      <dt>Genome report date</dt><dd>[% date %]</dd>
      <dt>Genome quality</dt><dd>    
	      [% IF assembly %]
	      	[% IF assembly_checks.last_run %] 
	      		[% IF assembly_checks.fail %]Poor
	      		[% ELSIF assembly_checks.warn %]Marginal
	      		[% ELSE %]Acceptable[% END %][% ELSE %]Checks not performed.
	      	[% END %]
	      [% ELSE %]No assembly[% END %]
	    </dd>
      </dl>
    </div>
  </div>

  <h2 class="section-title">Section 1: Clinical microbiology</h2>

  <div class="summary-box clinical">
    <dl>
    <dt>Summary</dt>
    <dd>SUMMARY goes here.</dd>
    </dl>
  </div>

  
  <div class="summary-box organism">
    <dl><dt>Organism</dt><dd>[% species_format.$species || species %]</dd>
  </div>

<div class="summary-box typing">
<dl><dt>Bacterial typing</dt><dd class="description">
subspecies characterisation and classification to assess isolate similarity 
<a href="https://pubmlst.org/multilocus-sequence-typing" target="_blank">
<span style="white-space: nowrap">https://pubmlst.org/multilocus-sequence-typing</span></a></dd>
</dl>
<div class="info-grid">
<div class="st">
MLST (Multilocus sequence typing)<br />
Sequence type (ST): 
[% IF !schemes.1 %] Not yet defined.[% END %]
[% FOREACH value IN schemes.1 %]
  [% IF !loop.first %], [% END %]
  [% IF value.st %][% value.st %]
  [% ELSE %]Not defined.[% END %]
[% END %]
</div>
<div class="profile">
[% loci = ['gapA','infB','mdh','pgi','phoE','rpoB','tonB' ] %]
<p class="profile_heading">Profile:</p>
<table><tr>[% FOREACH locus IN loci %]<th>[% locus %]</th>[% END %]</tr>
<tr>
[% FOREACH locus IN loci %]
  <td>[% FOREACH allele IN alleles.$locus %][% IF !loop.first %], [% END %][% allele %][% END %]</td>
[% END %]
</tr>
</table>
</div>
</div>
</section>

</body>
</html>