<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
[% css %]
</style>
<title>Technical Genome Report: id-[% fields.id %]</title>
</head>

<body>
  [% PROCESS processing.tt %]
  
  <section class="report">
  <h1 class="technical">TECHNICAL GENOME REPORT</h1>
  <div class="info-grid">
    <div class="list bordered">     
      	<item><label>Genome identifier</label><value>id-[% fields.id %]</value></item>
      	<item><label>Isolate/laboratory identifier</label><value>[% fields.isolate %]</value></item>
      	<item><label>Year of isolation</label><value>[% fields.isolation_year %]</value></item>
      	<item><label>Location</label><value>[% fields.city %], [% fields.country %]</value></item>   
      	<item><label>Source type</label><value>[% fields.host %]</value></item>     
        <item><label>Host tissue sampled</label><value>[% fields.source_details %]</value></item>
    </div>
    <div class="list bordered">   
    	<item><label>Accession number</label><value>[% fields.accession_number || 'Not defined' %]</value></item>
    	<item><label>Genome report date</label><value>[% date %]</value></item>
    	<item><label>Sequencing technology</label><value>[% assembly.method %]</value></item>
    	<item><label>Genome quality</label><value>[% genome_quality %]
    			[% IF genome_quality != 'No assembly' %] (detailed below)[% END %]</value></item>
    	<item><label>Version control</label><value></value>[% kleborate_vc %]</item>
    </div>
  </div>
    
	<div class="summary-box technical list">  
	    <item><label>Summary</label>
	    <value>[% technical_summary %]</value></item>  
	</div>
  
    <div class="summary-box organism list">
		<item><label>Organism</label><value>[% species_format.$species || species %]. 
		<em>Species match: [% Kleb.species_match %]</em></value></item>
    </div>
    
    <div class="content amr">
	[% IF !Kleb %]
		<div class="list">
		<item><label>Antibiotic resistance determinants</label><value class="critical">Kleborate has not run.</value></item>
		</div>
	[% ELSE %]
		<div class="list">
		<item><label>Antibiotic resistance determinants</label>
		<value class="description">Resistance determinants identified through [% kleborate_vc %]. 
		Only determinants with >90% coverage and >90% identity shown, also those with imprecise protein matches 
		or reduced coverage will be flagged. Genetic variants (homologs) are highlighted *. "None found" means 
		no resistance mechanisms have been identified in the antimicrobial resistance databases that exist at 
		the time of reporting, correlate with phenotype. &dagger; Macrolides and tetracycline lack breakpoints as not 
		recommended for therapy, resistance determinants included here.   It is best practice to review these 
		with the phenotypic antibiotic susceptibility profile. 
		<a href="https://github.com/klebgenomics/Kleborate" target="_blank">
		<span style="white-space:nowrap">https://github.com/klebgenomics/Kleborate</span></a>.</value></item>
		</div>
		
		<div class="scrollable">
		<table class="amr">
		<tr><th>Drug class</th><th>Acquired genotypes</th></tr>
		<tr><td>Penicillins (expected resistance due to blaSHV)</td><td>[% penicillin_output %]</td></tr>
		<tr><td>  + &beta;-lactamase inhibitor</td><td>[% penicillin_bla_inh_output %]</td></tr>
		<tr><td>Cephalosporins (3<sup>rd</sup> gen)</td><td>[% cephalosporin_output %]</td></tr>
		<tr><td>  + &beta;-lactamase inhibitor</td><td>[% cephalosporin_bla_inh_output %]</td></tr>
		<tr><td>Carbapenems</td><td>[% carbapenems_output %]</td></tr>
		<tr><td>Porin mutations (multiple drug classes)</td><td>[% porin_output %]</td></tr>
		<tr><td>Aminoglycosides</td><td>[% aminogylcocides_output %]</td></tr>
		<tr><td>Fluoroquinolones</td><td>[% fluoroquinolones_output %]</td></tr>
		<tr><td>Fosfomycin</td><td>[% fosfomycin_output %]</td></tr>
		<tr><td>Phenicols</td><td>[% phenicols_output %]</td></tr>
		<tr><td>Polymixins</td><td>[% polymixin_output %]</td></tr>
		<tr><td>Tigecycline</td><td>[% tigecycline_output %]</td></tr>
		<tr><td>Trimethoprim</td><td>[% trimethoprim_output %]</td></tr>
		<tr><td>  + Sulfonamides</td><td>[% sulfonamides_output %]</td></tr>
		<tr><td>&dagger;Macrolides</td><td>[% macrolildes_output %]</td></tr>
		<tr><td>&dagger;Tetracycline</td><td>[% tetracycline_output %]</td></tr>
		</table></div>
	[% END %]
	</div>
  
<div class="content typing">
<div class="list">
<item><label>Bacterial typing</label><value class="description">
subspecies characterisation and classification to assess isolate similarity</value>
</item></div>
<div class="info-grid">
<div class="st">
MLST (Multilocus sequence typing)<br />
Sequence type (ST): 
[% IF st %][% st %][% ELSE %]Not yet defined.[% END %]
</div>
[% IF st %]
	<div class="profile">
	[% mlst_profile %]
	</div>
[% END %]
</div>
[% IF lincodes.lincode %]
<div class="info-grid">
<div class="list"><item><label class="discrete">Phylogroup</label>
<value>[% phylogroup_output %]</value></item></div>
<div class="list"><item><label class="discrete">Sublineage</label>
<value>[% sublineage_output %]</value></item></div>
<div class="list"><item><label class="discrete">Clonal group</label>
<value>[% clonal_group_output %]</value></item></div>
<div class="list"><item><label class="discrete">cgST</label>
<value>[% scgst %]</value></item></div>
</div>
<div class="list">
<item><label class="discrete">LIN (Life Identification Number)</label><value>[% lincodes.lincode %]</value></item>
</div>
[% ELSE %]
<div class="list">
<item><label class="discrete">LIN (Life Identification Number)</label><value>Not defined.</value></item>
</div>
[% END %]
</div>

<div class="content capsule">
[% IF !Kleb %]
<div class="list">
<item><label>Capsule and O typing</label><value class="critical">Kapsule has not run.</value></item>
</div>
[% ELSE %]
<div class="list"><item><label>Capsule and O typing</label><value class="description">
Polysaccharide K and lipopolysaccharide O serotypes as predicted by KL and O genotype 
<a href="https://github.com/klebgenomics/Kaptive" target="_blank"><span style="white-space: nowrap">
https://github.com/klebgenomics/Kaptive</span></a>.</value></item></div>
<div class="info-grid">
<div class="list">
<item><label class="discrete"><em>K type</em></label><value><em>[% Kleb.K_type %]</em></value></item>
<item><label class="discrete">Confidence</label><value>[% Kleb.K_locus_confidence || 'not reported.' %]</value></item>
[% IF Kleb.K_locus_missing_genes || K_Missing_expected_genes %]
	<item><label class="discrete">Missing genes</label>
	<value>[% Kleb.K_locus_missing_genes || K_Missing_expected_genes %]</value></item>
[% END %]
[% IF Kleb.K_locus_problems %]
	<item><label class="discrete">Problems</label><value>[% Kleb.K_locus_problems %]</value></item>
[% END %]
</div>
<div class="list">
<item><label class="discrete"><em>O type</em></label><value><em>[% Kleb.O_type %]</em></value></item>
<item><label class="discrete">Confidence</label><value>[% Kleb.O_locus_confidence || 'not reported.' %]</value></item>
[% IF Kleb.O_locus_missing_genes || O_Missing_expected_genes %]
	<item><label class="discrete">Missing genes</label>
	<value>[% Kleb.O_locus_missing_genes || O_Missing_expected_genes %]</value></item>
[% END %]
[% IF Kleb.O_locus_problems %]
	<item><label class="discrete">Problems</label><value>[% Kleb.O_locus_problems %]</value></item>
[% END %]
</div>
</div>
[% IF Kleb.K_locus_problems || Kleb.O_locus_problems %]
<h3>Problems key:</h3>
<ul class="note">
<li><span class="key">?</span> = the locus was in multiple pieces, possibly due to a poor match or discontiguous assembly. 
The number of pieces is indicated by the integer directly following the ? symbol.</li>
<li><span class="key">-</span> = genes expected in the locus were not found.</li>
<li><span class="key">+</span> = extra genes were found in the locus.</li>
<li><span class="key">*</span> = one or more expected genes was found but with translated identity below the minimum threshold.</li>
<li><span class="key">!</span> = one or more genes was found but truncated.</li>
</ul>
[% ELSE %]
<p>No missing or additional genes identified. Loci are intact.</p>
[% END %]
[% END %]
</div>

<div class="content virulence">
[% IF !Kleb %]
<div class="list">
<item><label>Virulence factors</label><value class="critical">Kleborate has not run.</value></item>
</div>
[% ELSE %]
<div class="list">
<item><label>Virulence factors</label><value class="description">Factors that may lead to increased 
ability to cause invasive disease <a href="https://github.com/klebgenomics/Kleborate" target="_blank">
<span style="white-space:nowrap">https://github.com/klebgenomics/Kleborate</span></a>.</value></item>
<div class="list">
<item><label class="discrete">Virulence score</label><value>[% Kleb.virulence_score %]</value></item>
</div>

<div class="info-grid">
<div class="list">
<item><label>Acquired siderophores</label></item>
<item><label class="discrete">Aerobactin ST</label><value>[% aerobactin_output %]</value></item>
<item><label class="discrete">Salmochelin ST</label><value>[% salmochelin_output %]</value></item>
<item><label class="discrete">Yersiniabactin ST</label><value>[% yersiniabactin_output %]</value></item>
</div>
<div class="list">
<item><label>Other factors</label></item>
<item><label class="discrete">Colibactin ST</label><value>[% colibactin_output %]</value></item>
<item><label class="discrete">Hypermucoidy</label><value>[% hypermucoidy_output %]</value></item>
</div></div>
</div>
[% END %]
</div>

<div class="content plasmid">
[% IF !analysis.PlasmidFinder %]
<div class="list">
<item><label>Plasmid Inc typing</label>
<value class="critical">PlasmidFinder has not run.</value></item>
</div>
[% ELSE %]
<div class="list">
<item><label>Plasmid Inc typing</label><value class="description">
 These are identified using PlasmidFinder 
<a href="https://cge.food.dtu.dk/services/PlasmidFinder/" target="_blank">
<span style="white-space: nowrap">https://cge.food.dtu.dk/services/PlasmidFinder/</span></a></value>
</item>
<item><label class="discrete">Plasmid type</label><value>[% plasmid_output %]</value></item>
</div>
[% END %]
</div>

<div class="content outbreak">
<div class="list">
<item><label>Outbreak analysis</label><value class="description">Identifying isolates that are genetically 
similar and maybe part of a transmission chain 
<a href="https://bigsdb.pasteur.fr/klebsiella/cgmlst-lincodes/" target="_blank">
<span style="white-space: nowrap">https://bigsdb.pasteur.fr/klebsiella/cgmlst-lincodes/</span></a>.
</value></item>
</div>
[% IF lincodes.lincode %]
<p class="heading">Allele based:</p>
<div class="list">
<item><label class="discrete">LIN (Life Identification Number)</label><value>[% lincodes.lincode %]</value></item>
<p class="note" style="margin-top:0">(based on cgMLST scheme with 629 genes)</p>
</div>

[% cluster_summary %]
<div class="info-grid">
<div class="scrollable">
[% lincode_clusters %]
</div>
[% IF lincodes.clusters.5.similar %]
<p class="note">Most isolates with identical LIN codes (all 10 thresholds) have <100 and often <25 single nucleotide 
differences, but further single nucleotide analysis may be required for these isolates in cluster/outbreak 
investigations.</p> 
[% END %]
</div>

[% ELSE %]
<div class="list">
<item><label class="discrete">LIN (Life Identification Number)</label><value>Not defined.</value></item>
</div>
[% END %]
</div>

<div class="content qc">
<div class="list">
<item><label>QC status</label><value class="description">based on KlebNet criteria.
</value></item>

<item><label>Genome quality</label><value>[% genome_quality %]</value></item>
<table class="qc">
<tr><td class="label">Species match:</td>
<td>[% Kleb.species_match %] <span class="note">[determined with Kleborate]</span></td></tr>
<tr><td>Genome size:</td>
<td>[% assembly.total_length.commify %] bp <span class="note">[accepted criteria 4,969,898; 6,132,846]</span></td></tr>
<tr><td>Contigs:</td>
<td>[% assembly.contigs.commify %] <span class="note">[accepted criteria <500]</span></td></tr>
<tr><td>%GC content:</td>
<td>[% analysis.AssemblyStats.results.percent_GC || 'Not determined' %] <span class="note">[accepted criteria 56.35-57.98]</span></td></tr>
</table>
</div>
</div>

  </section>
</body>
</html>